<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>AulaCRM necesita acceder a tu calendario para añadir y gestionar las reservas de visitas a colegios.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>AulaCRM necesita acceso completo a tu calendario para crear, modificar y borrar los eventos de las reservas desde la aplicación.</string>
</dict>
</plist>
